name: Scrape to Supabase

on:
  schedule:
    - cron: '17,47 * * * *'
  workflow_dispatch:
  workflow_call:

jobs:
  scrape-to-cloud:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        env: 
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: python ingest.py